@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Tainarinha Gameplay</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<p>
    <a href="/Login/Entrar">
        Link para <br /> a tela de Login
    </a>
</p>

